body {
    background-color: #009688;
    display: flex;
    justify-content: center;

    font-family: "Cairo", sans-serif;
}

.container {
    max-width: 40%;
}

.head-sec {
    padding: 10px;
    text-align: right;
}

.head-sec img {
    max-height: 30px;
}

.pg-grey {
    background-color: #DDDDDD;
}

.container-lvl-2 {
    padding: 20px;
    margin-top: 150px;
}

.container-lvl-2 .main-img {
    border-radius: 10%;
    display: block;
    margin-top: -150px;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}
.contact-form input, .contact-form textarea {
    font-family: "Cairo", sans-serif;

    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    margin: 4px 0;
}

.contact-form input {
    border-radius: 5px;
}
.contact-form input:hover,
.contact-form textarea:hover {
    border: 3px solid #555;
    transition: 0.5s;
}

.contact-form input[type=submit]:hover {
    background-color: #059669;
    color: white;
    border: 3px solid #059669;
    transition: 0.5s;
    cursor: pointer;
}

.contact-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
}

.contact-links a {
    display: flex; /* Add flex display */
    align-items: center; /* Center vertically */
    /*justify-content: space-between;*/

    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 20px;
}

.contact-links img{
    padding: 20px;
    max-height: 30px;
    background-color: #059669;
    margin-right: 4px;
    border-radius: 10%;
}